*.iml
.gradle/
.gradle-user-home/
.android-user-home/
android-build-home/
.android-build-*/
.gradle-build-*/
.idea/
local.properties
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
Mirror-v*.apk
